<form class="{{cssClass}} ttb-character" autocomplete="off">
    <div class="sheet">
        <div class="ttb-banner">
            <img src="/systems/ttb-malifaux/ui/banner-header.png">
        </div>
        <div class="fated-info">
            <div class="fated-info-left-col">
                <div class="fated-name">
                    <div class="fated-title">
                        <span>FATED NAME</span>
                    </div>
                    <input type="text" class="fated-input" name=""/>
                </div>
                <div class="player-name">
                    <div class="fated-title">
                        <span>PLAYER NAME</span>
                    </div>
                    <input type="text" class="fated-input" name=""/>
                </div>
                <div class="station">
                    <div class="fated-title">
                        <span>STATION</span>
                    </div>
                    <input type="text" class="fated-input" name=""/>
                </div>
            </div>
            <div class="fated-info-ctr-col">

            </div>
            <div class="fated-info-right-col">

            </div>
        </div>

        TEST
    </div>
</form>